.footer
    width 100%
    height 4em
    margin auto
    color rgba(0,0,0,0)
    background url('../img/logo2.png') center no-repeat
    background-size 35% auto



@media only screen and (-webkit-min-device-pixel-ratio : 1.5) and (orientation:portrait),only screen and (min-device-pixel-ratio : 1.5)  and (orientation:portrait) 
    //竖屏
    .headlink
        width 80%

    .img,
    figcaption, 
    article
        width 82%

    .footer
        width 100%


@media only screen and (-webkit-min-device-pixel-ratio : 1.5) and (orientation:landscape),only screen and (min-device-pixel-ratio : 1.5)  and (orientation:landscape)
    //横屏
    .headlink
        width 80%

    .img,
    figcaption, 
    article
        width 82%

    .footer
        width 100%


@media only screen and (min-width : 1024px)
    //pc
    .headlink
        width 600px

    figcaption, 
    article
        width 580px

    .footer
        width 600px
        background-size 25% auto