article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0 none;
}
a,
img {
  vertical-align: top;
}
a {
  background: transparent;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
a:active,
a:hover {
  outline: 0 none;
}
a,
a:hover {
  text-decoration: none;
}
:focus {
  outline: 0 none;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var,
optgroup {
  font-style: normal;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
abbr,
acronym {
  border: 0 none;
  font-variant: normal;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
}
code,
kbd,
samp,
tt,
input,
button,
textarea,
select {
  font-size: 100%;
}
ol,
ul,
li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
sup,
sub {
  font-size: 100%;
  vertical-align: baseline;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: not-allowed;
}
button {
  overflow: visible;
}
em,
i {
  font-style: normal;
}
html {
  min-height: 100%;
  font-size: 62.5%;
  line-height: 1.4;
  font-family: "\5FAE\8F6F\96C5\9ED1", arial, "\5B8B\4F53";
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.header {
  height: 100px;
  background-color: #000;
  background-color: rgba(0,0,0,0.5);
}
.container {
  position: relative;
  width: 900px;
  margin: auto;
  height: 100px;
}
.logo {
  display: inline-block;
  float: left;
  width: 235px;
  height: 28px;
  margin: 36px 10px 36px 0;
  background: url("../img/bg-logo.png") no-repeat;
  background-size: 235px 28px;
  text-indent: -9999px;
}
.nav-but {
  display: none;
}
.options {
  height: 100px;
  text-align: right;
  line-height: 100px;
  font-size: 14px;
}
.options a {
  padding: 0 15px;
  color: #000;
}
.options a:hover,
.options a.selected {
  color: #fff;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait) {
  .header {
    overflow: hidden;
    height: auto;
  }
  .container {
    width: 100%;
    height: 80px;
  }
  .logo {
    float: left;
    width: 220px;
    height: 28px;
    margin: 26px 10px 26px 0;
    background: url("../img/bg-logo-hd.png") center no-repeat;
    background-size: 235px 28px;
  }
  .nav-but {
    display: block;
    position: relative;
    float: right;
    width: 26px;
    height: 26px;
    padding: 27px;
    background-color: #666;
  }
  .nav-but .nav-bar {
    display: block;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
  }
  .nav-but .nav-bar:after,
  .nav-but .nav-bar:before {
    position: relative;
    content: " ";
    top: 6px;
    display: block;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
  }
  .nav-but .nav-bar:before {
    top: 18px;
  }
  .options {
    display: none;
    right: 0;
    width: 100%;
    height: auto;
    float: right;
    top: 80px;
    background-color: #666;
    z-index: 10;
    line-height: 58px;
  }
  .options a {
    display: block;
  }
  .options a:active,
  .options a.selected {
    background-color: #000;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape), only screen and (min-device-pixel-ratio: 1.5) and (orientation: landscape) {
  .header {
    overflow: hidden;
    height: auto;
  }
  .container {
    width: 100%;
    height: 80px;
  }
  .logo {
    float: left;
    width: 220px;
    height: 28px;
    margin: 26px 10px 26px 0;
    background: url("../img/bg-logo-hd.png") center no-repeat;
    background-size: 235px 28px;
  }
  .nav-but {
    display: block;
    position: relative;
    float: right;
    width: 26px;
    height: 26px;
    padding: 27px;
    background-color: #666;
  }
  .nav-but .nav-bar {
    display: block;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
  }
  .nav-but .nav-bar:after,
  .nav-but .nav-bar:before {
    position: relative;
    content: " ";
    top: 6px;
    display: block;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
  }
  .nav-but .nav-bar:before {
    top: 18px;
  }
  .options {
    display: none;
    right: 0;
    width: 100%;
    height: auto;
    float: right;
    top: 80px;
    background-color: #666;
    z-index: 10;
    line-height: 58px;
  }
  .options a {
    display: block;
  }
  .options a:active,
  .options a.selected {
    background-color: #000;
  }
}
@media only screen and (max-width: 910px) {
  .header {
    overflow: hidden;
    height: auto;
  }
  .container {
    width: 100%;
    height: 80px;
  }
  .logo {
    float: left;
    width: 220px;
    height: 28px;
    margin: 26px 10px 26px 0;
    background: url("../img/bg-logo-hd.png") center no-repeat;
    background-size: 235px 28px;
  }
  .nav-but {
    display: block;
    position: relative;
    float: right;
    width: 26px;
    height: 26px;
    padding: 27px;
    background-color: #666;
  }
  .nav-but .nav-bar {
    display: block;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
  }
  .nav-but .nav-bar:after,
  .nav-but .nav-bar:before {
    position: relative;
    content: " ";
    top: 6px;
    display: block;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
  }
  .nav-but .nav-bar:before {
    top: 18px;
  }
  .options {
    display: none;
    right: 0;
    width: 100%;
    height: auto;
    float: right;
    top: 80px;
    background-color: #666;
    z-index: 10;
    line-height: 58px;
  }
  .options a {
    display: block;
  }
  .options a:active,
  .options a.selected {
    background-color: #000;
  }
}
.lists {
  width: 900px;
  padding: 20px 0 143px;
  margin: 0 auto;
  background: url("../img/bg-bg.png") right bottom no-repeat;
  background-size: 100px 143px;
}
.lists li {
  display: inline-block;
  width: 270px;
  margin: 0 0 20px 27px;
  vertical-align: top;
}
.lists .img {
  width: 100%;
  margin-bottom: 10px;
}
.lists a {
  display: block;
  color: #666;
}
.lists .title {
  overflow: hidden;
  width: 100%;
  height: 1.4em;
  font-size: 2.4em;
  padding: 5px;
  margin-bottom: 0.42em;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.lists .date {
  float: right;
  margin-top: 5px;
  text-align: right;
  font-size: 0.5em;
  line-height: 1.2;
  font-weight: 400;
}
@media only screen and (max-width: 910px) {
  .lists {
    width: 100%;
  }
  .lists li {
    width: 45%;
    margin: 0 0 20px 3%;
  }
  .lists .img {
    width: 100%;
  }
}
@media only screen and (max-width: 460px) {
  .lists {
    width: 100%;
  }
  .lists li {
    width: 95%;
    margin: 0 2.5% 20px;
  }
  .lists .img {
    width: 100%;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait) {
  .lists {
    width: 100%;
  }
  .lists li {
    width: 95%;
    margin: 0 2.5% 20px;
  }
  .lists .img {
    width: 100%;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape), only screen and (min-device-pixel-ratio: 1.5) and (orientation: landscape) {
  .lists,
  width 100%,
  li {
    width: 95%;
    margin: 0 2.5% 20px;
  }
  .img {
    width: 100%;
  }
}
.footer {
  width: 100%;
  height: 4em;
  margin: auto;
  color: rgba(0,0,0,0);
  background: url("../img/logo2.png") center no-repeat;
  background-size: 35% auto;
  text-indent: -99999px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait) {
  .headlink {
    width: 80%;
  }
  figcaption,
  article {
    width: 82%;
  }
  .footer {
    width: 100%;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape), only screen and (min-device-pixel-ratio: 1.5) and (orientation: landscape) {
  .headlink {
    width: 80%;
  }
  .img,
  figcaption,
  article {
    width: 82%;
  }
  .footer {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .headlink {
    width: 600px;
  }
  figcaption,
  article {
    width: 580px;
  }
  .footer {
    width: 600px;
    background-size: 25% auto;
  }
}
