@import "reset.styl"
@import "header.styl"

body
    min-height 100%

.headlink
    width 80%
    margin 0 auto .1em
    padding-top 1.18em
    line-height 1.2
    font-size 1.7em
    font-weight 400

    a
        color #000

.img
    display block
    width 82%
    margin 0 auto 1em
    border 6px solid #fff
    box-shadow 5px 5px 6px #666

@media only screen and (min-width :1024px)

    .img
        width 580px

figcaption,
article
    width 82%
    margin 0 auto

article
    padding-bottom 10em

    p
        font-size 1.4em
        line-height 1.8em
        text-indent 2em

.title
    font-size 2.4em
    margin-bottom 0.42em

.date
    float right
    text-align right
    font-size .5em
    line-height 1.2
    font-weight 400

.commentform //评论模块
    overflow hidden
    width 500px
    margin 0 auto 20px

    .respond_title
        margin 0 0 10px 25px
        font-size 14px
        font-weight 700

    form
        p
            padding 0
            margin-bottom 10px
            white-space nowrap
            line-height 25px

    input
        display inline-block
        width 250px
        padding 5px
        margin 0 10px
        border:1px solid #ccc
        line-height normal

    textarea
        overflow auto
        width 450px
        height 140px
        margin 0 10px
        padding 5px
        border 1px solid #ccc
        background-color #eee
        resize  none

    .submit
        position relative
        bottom auto
        width 100px
        margin-bottom 10px
        padding 5px
        overflow visible
        background-color #EAEDF5
        cursor pointer
        box-shadow 1px 1px #e7e7e7,2px 2px #e7e7e7,3px 3px #e7e7e7
        font-size 14px
        height 20px
        box-sizing content-box

.commentlist
    width 550px
    margin 0 auto
    list-style decimal outside

    li
        margin 15px 0 20px
        padding 5px 5px 10px 10px
        border 1px solid #ccc
        background-color #e8e8e8

    .comment_author
        font-size 14px
        color #666

        .say
            padding-left 5px
            font-weight 700
            color #333

    p
        padding 12px 0

    .child
        margin-left 10px

        li
            border 0 none
            border-left 1px solid #ccc

.comment_data
    color #999

@media only screen and (max-width: 570px)
    .commentform
        width 95%

        input,
        textarea,
        .submit
            width 90%
            padding 5px 4%
            margin 0

        label
            display block

    .commentlist
        width 95%


@import "footer.styl"
