article
aside
details
figcaption
figure
footer
header
hgroup
main
nav
section
summary
  display block

body
div
dl
dt
dd
ul
ol
li
h1
h2
h3
h4
h5
h6
pre
code
form
fieldset
legend
input
button
textarea
p
blockquote
th
td
figure
    margin 0
    padding 0

fieldset
img
    border 0 none
a
img
    vertical-align top

a
    background transparent
    -webkit-tap-highlight-color rgba(255, 255, 255, 0)
    
    &:active
    &:hover
        outline 0 none
    &
    &:hover
        text-decoration none
:focus
    outline 0 none

address
caption
cite
code
dfn
em
th
var
optgroup
    font-style normal
    font-weight normal

h1
h2
h3
h4
h5
h6
    font-size 100%

abbr
acronym
    border 0 none
    font-variant normal

input
button
textarea
select
optgroup
option
    font-family inherit
    font-size 100%
    font-style inherit
    font-weight:inherit

code
kbd
samp
tt
input
button
textarea
select
    font-size 100%
ol
ul
li
    list-style none
table
    border-collapse collapse
    border-spacing 0

sup
sub
    font-size 100%
    vertical-align baseline

blockquote
q
    quotes none

blockquote:before
blockquote:after
q:before
q:after
    content ''

button
html input[type="button"]
input[type="reset"]
input[type="submit"]
  -webkit-appearance button
  cursor pointer

button[disabled]
html input[disabled]
  cursor not-allowed

button
    overflow visible

em
i
    font-style normal

html
    min-height 100%
    font-size 62.5%
    line-height 1.4
    font-family "\5FAE\8F6F\96C5\9ED1",arial,"\5B8B\4F53"
    overflow-y auto
    -webkit-overflow-scrolling touch